// 主要顏色
$color-primary: #cc7a60;
$color-table-green: #FAF0EC; // Light terracotta background for table headers

// 圓角
$border-radius-sm: 0.625rem; // 10px
$border-radius-md: 0.75rem;  // 12px
$border-radius-lg: 1rem;    // 16px

// 陰影
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);

// 字體大小
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;

// 字體間距
$letter-spacing-sm: 0.025rem;
$letter-spacing-lg: 0.05rem;

// 字體顏色
$text-color: #111827;
$text-color-light: #5b6370;

